@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    padding: 30px;
}

.container{
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 2);
}
.container .form{
    height: 100%;
    width: 100%;
    background: #fff;
}

.container .conteudo-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo-form .form-login{
    width: calc(100% / 2 - 25px);
   /* background: red; */
}

form .conteudo-form .titulo{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

form .conteudo-form .titulo::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: orange;
}

form .conteudo-form .input-boxes{
    margin-top: 30px;
}

form .conteudo-form .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.conteudo-form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 30px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.conteudo-form .input-box i{
    position: absolute;
}