@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    padding: 30px;
}

.container{
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 2);
    perspective: 2700px;
}

.container .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 96;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container .cover::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: orange;
    opacity: 0.5;
    z-index: 95;
    
}

.container .cover::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
    background: orange;
    opacity: 0.5;
    z-index: 95;
    
}

.container .cover .texto{
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .frente .texto .texto-1{
    font-size: 26px;   
    font-weight: 600;
    color: #fff;
    text-align: center;
    backface-visibility: hidden;
}

.cover .frente .texto .texto-1{
    font-size: 26px;   
    font-weight: 600;
    color: #fff;
    text-align: center;
    backface-visibility: hidden;
}

.cover .frente .texto .texto-2{
    font-size: 15px;
    font-weight: 500;
}

.container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
}

.container .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
    backface-visibility: visible;
}

.container .form{
    height: 100%;
    width: 100%;
    background: #fff;
}

.container .conteudo-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo-form .form-login,
.conteudo-form .form-cadastrar{
    width: calc(100% / 2 - 25px);
    margin: 40px;
   /* background: red; */
}

form .conteudo-form .titulo{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

form .conteudo-form .titulo::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: orange;
}

form .form-cadastrar .titulo::before{
    width: 20px;
}

form .conteudo-form .input-boxes{
    margin-top: 30px;
}

form .conteudo-form .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.conteudo-form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 30px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.conteudo-form .input-box i{
    position: absolute;
    color: orange;
    font-size: 17px;
}

.conteudo-form .input-box input:focus,
.conteudo-form .input-box input:valid{
    border-color: orange;
}

form .conteudo-form .texto{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

form .conteudo-form .texto a{
    text-decoration: none;
}

form .conteudo-form .texto a:hover{
    text-decoration: underline;
}

form .conteudo-form .button{
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 40px;
}

form .conteudo-form .button input{
    color: #fff;
    background: orange;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

form .conteudo-form .button input:hover{
    background: rgb(255, 190, 70);
    color: #333;
}

form .conteudo-form label{
    text-decoration: none;
}

form .conteudo-form label:hover{
    text-decoration: underline;
}

form .conteudo-form .login-texto,
form .conteudo-form .cadastrar-texto{
    text-align: center;
    margin-top: 25px;
}
.container #flip{
    display: none;
}

@media (max-width: 730px){
    .container .cover{
        display: none;
    }
    .conteudo-form .form-login,
    .conteudo-form .form-cadastrar{
        width: 100%;
    }
    .conteudo-form .form-cadastrar{
        display: none;
    }
    .container #flip:checked ~ form .form-cadastrar{
        display: block;
    }
    .container #flip:checked ~ form .form-cadastrar{
        display: block;
    }
}